.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    text-align: start;
    font-weight: lighter;
}

.caption {
    font-size: 0.9rem;
    font-weight: bold;
    display: contents;
    color: #404040;
}

.text_depth {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
}

.text_width {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
}

.text_height {
    display: flex;
    height: inherit;
    position: absolute;
    align-items: center;
    right: -80px;
}

.text_weight {
    display: flex;
    height: inherit;
    position: absolute;
    align-items: flex-end;
}

.device_body {
    position: relative;
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid #303030;
}

.device_window {
    background: white;
    border-color: #ffffff #ebebeb transparent transparent;
}

.device_window_inner {
    border-top: 1px solid #303030;
    border-left: 1px solid #303030;
    border-style: solid;
}

.window_text {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 3.8rem;
    
    text-align: center;
}

.window_text p {
    padding: 0;
    margin: 25px 0 0 2px;
    font-size: 1.5rem;
    display: flex;
}

.side {   
    position: relative;
    margin-right: 2em;
    border: 1px solid #303030;
}
