.wrapper {
   display: flex;
   margin: auto 0;
   flex-wrap: wrap;
   justify-content: center;
}

.group {
  flex-basis: 50%;
}

.group:nth-child(odd) {
   padding: 0 .5rem 0 0;
}

.group:nth-child(even) {
   padding: 0 0 0 .5rem;
}

.box {
  border: 2px solid black;
   flex-wrap: wrap;
  justify-content: center;
  height: 5rem;
  margin: .5rem 0;
  align-items: center;
}

.side {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column-reverse;
  height: 10.5rem;
}

.vertical .iconContainer {
   width: 100%;
   border: none;
   height: 30%;
   border-bottom: 2px solid black;
}

.iconContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 2px solid black;
  text-align: center;
}

.icon {
  margin: auto 0;
}

.icon p {
  margin: 0;
  font-size: 0.8rem;
}

.detail {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-wrap;
}
