.footer {
  margin-top: auto;
  padding: 10px 40px;
  height: 160px;
  background: rgb(43, 43, 43);
  color: white;
  display: flex;
  align-items: center;
}

.caption {
  flex-flow: column;
  margin: 0 0 0 20px;
}

.caption h1 {
  display: inline;
  font-weight: bold;
}

.caption span {
  margin: 0;
  font-weight: 100;
}

.footer nav {
  display: flex;
  align-content: center;
  align-self: center;
  margin: 0 0 0 auto;
}

.footer ul {
  list-style: none;
  margin: 0;
}

.footer li {
  font-size: 16pt;
  position: relative;
  color: white;
}
.footer li::before {
  content: "";
  width: 3px;
  height: 70%;
  position: absolute;
  margin: 0 auto;
  top: 6px;
  left: -8px;
  background-color: white;
}

.footer li:hover {
  animation-name: hov;
  animation-duration: .1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
  }
  .caption {
    margin: 0;
  }
}

@keyframes hov {
  100% {
    opacity: 50%;
  }
}
